<h1>test.ejsです。</h1>

<!--送信フォーム-->
<!--action属性（送信後の遷移場所）-->
<form action="/top" method="post">
  <p>姓</p>
  <input type="text" name="LastName">
  <p>名</p>
  <input type="text" name="FirstName">
  <p>クラス</p>
  <input type="text" name="Class">
  <input class="btn" type="submit" value="登録">
</form>

</body>
</html>



