*{
    margin: 0;
    padding: 0;
    /*要素のwidthとheightにpaddingやborderのサイズが含まれる*/
    box-sizing: border-box;
    font-weight: bold;
    color: #2d2d2d;
}

/*➀ヘッダー*/
header{
    font-size: 3vw;
    width: 100%;
    background: #f7ab68;
    color: white;
    height: 100px;
    line-height: 100px;
    padding-left: 3vw;
}

/*➁メニュー*/
/*ボタン*/
.btn{
    position: fixed;
    top: 10px;
    right: 20px;
    height: 80px;
    width: 80px;
    background-color: #FFFF99;
    z-index: 10;
    border: 4px solid #FF4F50;
    border-radius: 50%;
}

.btn i{
    position: absolute;
    left: 13px;
    height: 6px;
    width: 45px;
    background: #FF4F50;
    border-radius: 15%;
    /*アニメーションの速度*/
    /*.5s = 0.5秒*/
    transition: .5s;
}

.btn i:nth-of-type(1){
    top: 19px;
}

.btn i:nth-of-type(2){
    top:33px;
}

.btn i:nth-of-type(3){
    top:47px;
}

/*ボタン　active*/
.btn.active i:nth-of-type(1){
                /*下に14px*/
    transform: translateY(14px)rotate(45deg);
}

.btn.active i:nth-of-type(2){
    opacity: 0;
}

.btn.active i:nth-of-type(3){
                 /*上に14px*/
    transform: translateY(-14px)rotate(-45deg);
}


/*メニュー中身*/
.container{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e6f5f5;
    z-index: 9;
    opacity: 0;
    /*マウスイベントをキャンセル*/
    pointer-events: none;
    /*アニメーションの速度*/
    /*.5s = 0.5秒*/
    transition: .5s;
}

.item{
   /*子要素を横並びにする*/
   display: flex;
   width: 650px;
   margin: 130px auto; 
   font-size: 25px;
}

.item ul li{
    margin: 30px;
    /*点を消す*/
    list-style: none;
    padding-bottom: 10px;
}

.item ul li a{
    color: #222222;
    /*線を消す*/
    text-decoration: none;
}

/*メニュー中身　active*/
.container.active{
    opacity: 1;
    /*マウスイベントをオン*/
    pointer-events: auto;
}

/*➂選択ボタン*/
.choice{
    /*子要素を横並びにする*/
    display: flex;
    margin-top: 60px;
    /*要素を中央揃え*/
    justify-content: center;
}

.button{
    max-width: 100%;
    width: 25%;
    height: 40px;
    line-height: 40px;
    font-size: 1.7vw;
    border: solid 2px #f7ab68;
    text-align: center;
}

/*Ⓐごはんボタン*/
#food_btn{
    background: #f7ab68;
    color: white;
    border-radius: 5px 0px 0px 5px;
}

/*Ⓐごはんボタン　active*/
#food_btn.active{
    color: #f7ab68;
    background: white;
    border-radius: 5px 0px 0px 5px;
}


/*Ⓑショップボタン*/
#shop_btn{
    color: #f7ab68;
    border-radius: 0px 5px 5px 0px;
}

/*Ⓑショップボタン　active*/
#shop_btn.active{
    background: #f7ab68;
    color: white;
    border-radius: 0px 5px 5px 0px;
}

/*➃メイン*/
main{
    width: 100%;
    position: relative;
    height: 1960px;
}

/*Ⓐごはん中身*/
.food{
    position: absolute;
    width: 100%;
}

/*Ⓐごはん中身　active*/
.food.active{
    opacity: 0;
    /*マウスイベントをキャンセル*/
    pointer-events: none;
}

/* ➈ごはんボタン枠 */
.food_buttons{
    /* 子要素を横並びにする */
    display: flex;
    /* 子要素を縦軸の中央に配置 */
    align-items: center;
    margin:30px auto;
    width: 70%;
    /* 入りきらない場合は2段目へ */
    flex-wrap: wrap;
}

/* ➉ごはんボタン単体 */
.food_button{
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    /* 要素にマウスを乗せたときに、カーソルがポインターに変化 */
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
}

.food_button.food_active{
    color: #e6f5f5;
    background-color: #333;
}

/* (11)ごはんアイテム枠 */
.food_items{
    /* 子要素を横並びにする */
    display: flex;
    /* 入りきらない場合は２段目へ */
    flex-wrap: wrap;
    width: 80%;
    margin: 40px auto;
}

/* (12)ごはんアイテム */
.food_item{
    width: 230px;
    height: 230px;
    margin-top: 15px;
    margin-left: 20px;
}

.food_item img{
    width: 80%;
    height: 80%;
    border: solid 1.5px #9e9e9e;
    border-radius: 10px;
    /* 画像を整える */
    object-fit: cover;
}

/* マウスを乗せると画像を大きく表示 */
.food_item img:hover{
    transform: scale(1.7, 1.7);
}

.food_item p{
    font-size: 0.9vw;
}

/* 非表示 */
.food_item.hide{
    display: none;
}



/*Ⓑショップ中身*/
.shop{
    position: absolute;
    width: 100%;
    opacity: 0;
    /*マウスイベントをキャンセル*/
    pointer-events: none;
}

/*Ⓑショップ中身　active*/
.shop.active{
    opacity: 1;
    /*マウスイベントをオン*/
    pointer-events: auto;
}

/*➄ショップarticle*/
article{
    width: 80%;
    margin: 30px auto;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    /* border: solid 1.5px rgb(151, 151, 151); */
}


/* ➄ジャムおじさんのパン工場 */
article:nth-of-type(1){
    background-color:#fde7e7;
}

/* ➄ポップコーンやさん */
article:nth-of-type(2){
    background-color:rgb(255, 246, 221);
}

/* ➄アンパンマンレストラン */
article:nth-of-type(3){
    background-color:#fde7e7;
}

/* ➄ハンバーガーやさん */
article:nth-of-type(4){
    background-color:rgb(255, 246, 221);
}

/* ➄うどんやさん */
article:nth-of-type(5){
    background-color:#fde7e7;
}

/* ➄ごはんやさん */
article:nth-of-type(6){
    background-color:rgb(255, 246, 221);
}

/* ➄ソフトクリームやさん */
article:nth-of-type(7){
    background-color:#fde7e7;
}

/*➅ショップcontent*/
.content{
    /*子要素を横並びにする*/
    display: flex;
}

/*➆ショップ画像*/
.picture img{
    width: 18vw;
    border-radius: 5px;
    border: solid 1px rgb(151, 151, 151);
}

/*➇ショップメッセージ*/
.message{
    margin: 20px 0 0 20px;
    width: 45%;
}

/* フッター */
footer{
    height: 40px;
    background-color: #f7ab68;
    margin-top: 40px;
}