*{
    margin: 0;
    padding: 0;
    /*要素のwidthとheightにpaddingやborderのサイズが含まれる*/
    box-sizing: border-box;
    font-weight: bold;
    color: #2d2d2d;
}

/*➀ヘッダー*/
header{
    font-size: 3vw;
    width: 100%;
    background: #2fc7fa;
    color: white;
    height: 100px;
    line-height: 100px;
    padding-left: 3vw;
}

/*➁メニュー*/
/*ボタン*/
.btn{
    position: fixed;
    top: 10px;
    right: 20px;
    height: 80px;
    width: 80px;
    background-color: #FFFF99;
    z-index: 10;
    border: 4px solid #FF4F50;
    border-radius: 50%;
}

.btn i{
    position: absolute;
    left: 13px;
    height: 6px;
    width: 45px;
    background: #FF4F50;
    border-radius: 15%;
    /*アニメーションの速度*/
    /*.5s = 0.5秒*/
    transition: .5s;
}

.btn i:nth-of-type(1){
    top: 19px;
}

.btn i:nth-of-type(2){
    top:33px;
}

.btn i:nth-of-type(3){
    top:47px;
}

/*ボタン　active*/
.btn.active i:nth-of-type(1){
                /*下に14px*/
    transform: translateY(14px)rotate(45deg);
}

.btn.active i:nth-of-type(2){
    opacity: 0;
}

.btn.active i:nth-of-type(3){
                 /*上に14px*/
    transform: translateY(-14px)rotate(-45deg);
}


/*メニュー中身*/
.container{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e6f5f5;
    z-index: 9;
    opacity: 0;
    /*マウスイベントをキャンセル*/
    pointer-events: none;
    /*アニメーションの速度*/
    /*.5s = 0.5秒*/
    transition: .5s;
}

.item{
   /*子要素を横並びにする*/
   display: flex;
   width: 650px;
   margin: 130px auto; 
   font-size: 25px;
}

.item ul li{
    margin: 30px;
    /*点を消す*/
    list-style: none;
    padding-bottom: 10px;
}

.item ul li a{
    color: #222222;
    /*線を消す*/
    text-decoration: none;
}

/*メニュー中身　active*/
.container.active{
    opacity: 1;
    /*マウスイベントをオン*/
    pointer-events: auto;
}

/*➂選択ボタン*/
.choice{
    /*子要素を横並びにする*/
    display: flex;
    margin-top: 60px;
    /*要素を中央揃え*/
    justify-content: center;
}

.button{
    max-width: 100%;
    width: 20%;
    border: 2px solid #FFB6C1;
    text-align: center;
}

/* ➂メイン */
main{
    width: 60%;
    margin: 30px auto;
}

/* ➃地図 */
.map img{
    width: 100%;
    border: solid 3px rgb(32, 99, 199);
    border-radius: 10px;
}

/* ➅情報 */
.address{
    background-color: #fef1be;
    margin-top: 20px;
    padding: 20px 10px;
    border-radius: 10px;
}

/* ➅情報 */
.information{
    background-color: #fcd8de;
    margin-top: 20px;
    padding: 20px 10px;
    border-radius: 10px;
}

.information p{
    margin-top: 10px;
}

/* フッター */
footer{
    margin-top: 50px;
    height: 40px;
    background-color: #2fc7fa;
}